.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #C8B5E3;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.list-group-item-action {
    color: red;
}
.btn.btn-primary {
    background-color: #788B91;
    border: #788B91;
}

.list-group-item.active {
    background-color: #788B91;
    border: #788B91;
}

.container {
    background-color: #1CE6DA ;
}

div.albulm {
    background-color: #788B91;
}

.text-muted {
     background-color: #788B91;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}